* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background: #0a0a10;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 414px;
  min-height: 100vh;
  position: relative;
  padding: 15px 0px;
}

.blur {
  width: 400px;
  height: 260px;
  background: #ffffff;
  position: absolute;
  z-index: -1;
  filter: blur(24px);
  opacity: 0.25;
  border-radius: 15px;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}

label {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.408px;
  color: rgba(255, 255, 255, 0.6);
}

.contener-input {
  margin-top: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  dispy: flex;
  flex-direction: column;
  width: 100%;
}

input {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #ffffff;
}
