* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: #0a0a10;
}
main {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  max-width: 414px;
  min-height: 100vh;
  gap: 12px;
  position: relative;
  align-items: center;
}
.blur {
  width: 414px;
  height: 280px;
  background: #ffffff;
  position: absolute;
  z-index: -1;
  opacity: 0.25;
  filter: blur(24px);
  border-radius: 50px;
}

h1 {
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.contener-inputs {
  margin-top: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
label {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 4px;
  margin-left: 4px;
}

input {
  width: 342px;
  height: 42px;
  margin-bottom: 4px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #ffffff;
  padding-left: 4px;
}

input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #ffffff;
}

.button-login {
  margin-top: 20px;
  width: 342px;
  height: 45px;
  background: #d93856;
  font-size: 17px;
  line-height: 2px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  border: none;
}

.button-icon {
  width: 342px;
  height: 45px;
  background: rgba(255, 255, 255, 0.14);
  font-weight: 900;
  font-size: 15px;
  line-height: 13px;
  align-items: center;
  color: #ffffff;
  border: none;
  display: flex;
  gap: 12px;
  justify-content: center;
  transition: 0.3s ease;
}

.button-login:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button-login:active {
  opacity: 0.6;
  cursor: pointer;
}

.button-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button-icon:active {
  opacity: 0.6;
  cursor: pointer;
}

i {
  font-size: 22px;
  font-weight: 900;
  line-height: 2px;
}
.container-link {
  margin-top: 20px;
  position: relative;
}

a {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

span {
  color: #ffffff;
}

a::after {
  content: "";
  width: 0;
  position: absolute;
  height: 2px;
  background: #d93856;
  bottom: -3px;
  left: 0;
  transition: 0.5s ease;

}

a:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background: #d93856;
  bottom: -3px;
  left: 0;

}

